<div id="quizSetting" ng-show="showQuizSetting">
	<div id="table-wrapper">
		<h4>Are you ready?</h4>
		<table class="table table-bordered">
			<tr>
				<td>Total Questions</td>
				<td><input class="form-control input-sm" type="number" min="10" max="50" placeholder="20" ng-click="showQuizNotif = 0" ng-model="quizOption1"></td>
			</tr>
			<tr>
				<td>Category</td>
				<td>
					<select class="form-control input-sm" ng-click="showQuizNotif = 0" ng-model="quizOption2">
						<option value="All" ng-selected="1">All</option>
						<option value="0">명사 (noun)</option>
						<option value="1">대명사 (pronoun)</option>
						<option value="2">동사 (verb)</option>
						<option value="3">형용사 (adjective)</option>
						<option value="4">부사 (adverb)</option>
						<option value="5">전치사 (preposition)</option>
						<option value="6">접속사 (conjuction)</option>
						<option value="7">감탄사 (interjection)</option>
						<option value="8">표현 (expression)</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Multiple Choices</td>
				<td>
					<select class="form-control input-sm" ng-click="showQuizNotif = 0" ng-model="quizOption3">
						<option value="4" ng-selected="1">4</option>
						<option value="5">5</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Timed</td>
				<td>
					<select class="form-control input-sm" ng-click="showQuizNotif = 0" ng-model="quizOption4">
						<option value="0" ng-selected="1">No</option>
						<option value="1">Yes</option>
					</select>
				</td>
			</tr>
		</table>
	</div>
	<!-- Error Notification -->
	<div class="quizNotif" ng-show="showQuizNotif">
		{{quizNotifMessage}}
	</div>
	<div class="quizNotif" id="quizNotif-filler" ng-hide="showQuizNotif">
		This is a filler
	</div>
	<!-- Start Button -->
	<div id="btn-wrapper">
		<button type="button" class="btn btn-default btn-lg" ng-click="start()">Start</button>
	</div>
</div>

<!-- Quiz -->
<div id="quiz" ng-show="showQuiz">
	<!-- Quiz Header -->
	<div id="quiz-header">
		<span id="quiz-number">Quiz #{{user.tests.length + 1}}</span>
		<span id="quiz-date">{{today}}</span>
	</div>
	<!-- Questions, Answer Options and Submit form -->
	<form ng-submit="submit()" ng-hide="showResult">
		<div class="question" ng-repeat="item in quizList track by $index">
			<div class="questionWord">{{$index + 1}}. {{item.word}}</div>
			<div class="questionAnswers">
				<div class="radio" ng-repeat="option in item.answerOptions track by $index">
					<label><input type="radio" name="{{$parent.$index}}" ng-click="select($parent.$index, $index)" required> {{option.definition}}</label>
				</div>
			</div>
		</div>
		<div id="submit">
			<button type="submit" class="btn btn-default">Done</button>
			<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
		</div>
	</form>
	<div id="quiz-result" ng-show="showResult">
		<div id="score">
			<div>Your Score: <span>{{score}}</span> ({{resultCorrect.length}}/{{quizList.length}})</div>
		</div>
		<div id="incorrectList" ng-show="showIncorrectList">
			<h5>Review Note</h5>
			<table class="table">
				<tbody>
					<tr ng-repeat="answer in resultIncorrect track by $index">
						<td class="col1">{{answer.questionNo}}. {{answer.word}}</td>
						<td>
							<span class="incorrectAnswer">{{answer.answerOptions.definition}}</span>
							{{answer.definition}}
						</td>
					</tr>
					<tr></tr>
				</tbody>
			</table>
		</div>
		<div id="btn-wrapper">
			<button type="button" class="btn btn-default btn-lg" ng-click="ok()">OK</button>
		</div>
	</div>
</div>