<div id="form-wrapper">
<!-- 	<div id="form-title">
		{{formTitle}} 
		<span>
			<a ng-click="toggleForm()">{{switchLng}}</a>
		</span>
	</div> -->
	<div class="add-form" ng-show="showKOR">
		<form class="form-horizontal" ng-submit="addKOR()">
			<div class="form-group">
				<label class="control-label col-sm-3">Word</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="(Korean)" ng-click="showFormNotif = 0; showSuccess = 0; showFail = 0;" ng-model="KOR.word" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Part of Speech</label>
				<div class="col-sm-9">
					<select class="form-control" ng-click="showFormNotif = 0; showSuccess = 0; showFail = 0;" ng-model="KOR.part" required>
						<option value="0">명사(noun)</option>
						<option value="1">대명사(pronoun)</option>
						<option value="2">동사(verb)</option>
						<option value="3">형용사(adjective)</option>
						<option value="4">부사(adverb)</option>
						<option value="5">전치사(proposition)</option>
						<option value="6">접속사(conjuction)</option>
						<option value="7">감탄사(interjection)</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Definition</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="(ex. to eat)" ng-click="showFormNotif = 0; showSuccess = 0; showFail = 0;" ng-model="KOR.definition" required>
				</div>
			</div>
			<div class="col-sm-offset-3">
				<button type="submit" class="btn btn-default">Add</button>
				<button type="button" class="btn btn-default" ng-show="showSuccess" ng-click="updateFullList()">Update List</button>
			</div>
		</form>
	</div>

	<div class="add-form" ng-hide="showKOR">
		<form ng-submit="addENG()">
			<div class="form-group">
				<label class="control-label col-sm-3">Word</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="(English)" ng-click="showFormNotif = 0; showSuccess = 0; showFail = 0;" ng-model="ENG.word" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Part of Speech</label>
				<div class="col-sm-9">
					<select class="form-control" ng-click="showFormNotif = 0; showSuccess = 0; showFail = 0;" ng-model="ENG.part" required>
						<option value="0">명사(noun)</option>
						<option value="1">대명사(pronoun)</option>
						<option value="2">동사(verb)</option>
						<option value="3">형용사(adjective)</option>
						<option value="4">부사(adverb)</option>
						<option value="5">전치사(proposition)</option>
						<option value="6">접속사(conjuction)</option>
						<option value="7">감탄사(interjection)</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3">Definition</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" ng-click="showFormNotif = 0; showSuccess = 0; showFail = 0;" ng-model="ENG.definition" required>
				</div>
			</div>
			<div class="col-sm-offset-3">
				<button type="submit" class="btn btn-default">Add</button>
			</div>
		</form>
	</div>

	<div id="notif-form" ng-show="showFormNotif">
		<div class="alert alert-success" ng-show="showSuccess">
			The following word has been added: <span id="added">{{addedWord.word}}</span>
		</div>
		<div class="alert alert-danger" ng-show="showFail">
			{{failMessage}}
		</div>
	</div>
</div>

<div id="table-wrapper">
	<!-- Table View Options -->
	<div id="options-wrapper">
		<div class="option" id="wordCount">
			<select class="form-control input-sm" ng-change="updateNumPerPage()" ng-model="wordCount">
				<option value="10" ng-selected="1">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="50">50</option>
			</select>
		</div>
		<div class="option" id="wordPart">
			<select class="form-control input-sm" ng-change="updatePartCategory()" ng-model="partCategory">
				<option value="All" ng-selected="1">All</option>
				<option value="0">명사 (noun)</option>
				<option value="1">대명사 (pronoun)</option>
				<option value="2">동사 (verb)</option>
				<option value="3">형용사 (adjective)</option>
				<option value="4">부사 (adverb)</option>
				<option value="5">전치사 (proposition)</option>
				<option value="6">접속사 (conjuction)</option>
				<option value="7">감탄사 (interjection)</option>
			</select>
		</div>
		<div class="option">
			<button type="button" class="btn btn-default btn-sm" ng-click="sort()">{{sortOption}}</button>
		</div>
		<div class="option" id="wordSearch">
			<input type="text" class="form-control input-sm" placeholder="Search" ng-model="searchWord">
		</div>
	</div>

	<!-- Word Bank List -->
	<table class="table table-hover" id="list">
		<thead>
			<tr>
				<th class="col1">#</th>
				<th class="col2">Word</th>
				<th class="col3">Part</th>
				<th class="col4">Definition</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="word in pageList | filter: searchWord track by $index">
				<td class="col1" ng-mouseenter="showX = 1" ng-mouseleave="showX = 0">
					<span ng-hide="showX">{{word.index}}</span>
					<span class="glyphicon glyphicon-remove" ng-show="showX" ng-click="removeWord($index)"></span>
				</td>
				<td class="col2">{{word.word}}</td>
				<td class="col3">{{word.partName}}</td>
				<td class="col4">{{word.definition}}</td>
			</tr>
		</tbody>
	</table>

	<!-- Table Pagination -->
	<nav aria-label="table pagination" class="text-center">
	  <ul class="pagination">
	    <li>
	      <a ng-click="previousPage()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
	    </li>
	    <li ng-repeat="num in pages">
	    	<a ng-click="goToPage(num)">{{num}}</a>
	    </li>
	    <li>
	      <a ng-click="nextPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
	    </li>
	  </ul>
	</nav>

</div>