
<!-- Table View Options -->
<div>
	<label>View</label>
	<select ng-change="updateNumPerPage(this)" ng-model="wordCount">
		<option value="10" ng-selected="1">10</option>
		<option value="15">15</option>
		<option value="20">20</option>
		<option value="30">30</option>
		<option value="50">50</option>
	</select>
</div>

<!-- Word List Table -->
<table class="table">
	<thead>
		<tr>
			<th>Word</th>
			<th>Part of Speech</th>
			<th>Definition</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="word in currentList track by $index">
			<td>{{word.word}}</td>
			<td>{{word.part}}</td>
			<td>{{word.definition}}</td>
		</tr>
	</tbody>
</table>

<!-- Pagination -->
<nav aria-label="table pagination">
  <ul class="pagination">
    <li>
      <a ng-click="previousPage()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
    </li>
    <li ng-repeat="num in pages">
    	<a ng-click="goToPage(num)">{{num}}</a>
    <li>
      <a ng-click="nextPage()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
    </li>
  </ul>
</nav>