<div id="signin-wrapper">
	<form class="form-inline" ng-submit="signin()">
		<div class="form-group">
			<label for="passcode">Passcode</label>
			<input type="password" class="form-control" id="passcode" ng-model="passcode" ng-click="showSignInNotif = 0" required>
		</div>
		<button type="submit" class="btn btn-default">Sign In</button>
	</form>
	<div id="signin-notification" ng-show="showSignInNotif">
		<div class="alert alert-danger">
			Failed to sign in. Please try again.
		</div>
	</div>
</div>

